@using ActionModels.Teams
@model List<CoachProfileAM>

@foreach (var coach in Model)
{
    var teachRankIcon = "Content/rank/";
    switch (coach.InterestedRank)
    {
        case "Bronze":
            teachRankIcon += "bronze.png";
            break;
        case "Silver":
            teachRankIcon += "silver.png";
            break;
        case "Gold":
            teachRankIcon += "gold.png";
            break;
        case "Platinum":
            teachRankIcon += "platinum.png";
            break;
        case "Diamond":
            teachRankIcon += "diamond.png";
            break;
    }

    var seriousLevel = string.Empty;
    switch (coach.Commitment.SeriousnessLevel)
    {
        case 0:
            seriousLevel = "C";
            break;
        case 1:
            seriousLevel = "SS";
            break;
        case 2:
            seriousLevel = "S";
            break;
    }

    var rankIcon = "Content/rank/";
    if (coach.SummonerInfo.RiotApiInfo == null)
    {
        rankIcon = string.Empty;
    }
    else
    {
        switch (coach.SummonerInfo.RiotApiInfo.Leagues.First(x => x.QueueType == "RANKED_SOLO_5x5").Tier)
        {
            case "BRONZE":
                rankIcon += "bronze.png";
                break;
            case "SILVER":
                rankIcon += "silver.png";
                break;
            case "GOLD":
                rankIcon += "gold.png";
                break;
            case "PLATINUM":
                rankIcon += "platinum.png";
                break;
            case "DIAMOND":
                rankIcon += "diamond.png";
                break;
            case "MASTER":
                rankIcon += "master.png";
                break;
            case "CHALLENGER":
                rankIcon += "challenger.png";
                break;
            default:
                rankIcon += "provisional.png";
                break;
        }
    }

    var isToxic = coach.Toxic.ToxicLevel > 0;
    var isRedFlag = coach.Toxic.HadLowPriorityPunish || coach.Toxic.HadChatRestrictions || coach.Toxic.HadRankedRestrictions || coach.Toxic.HadTemporaryBan || coach.Toxic.HadPermanentBan;

    <div class="col-md-4 summoner-card coach-card">
        <div class="row">
            <span class="col-md-2" style="background-color: #2f8bcb;border-radius: 2px">@coach.SummonerInfo.Server</span>
            <span class="col-md-7">@coach.SummonerInfo.SummonerName</span>
            <span class="col-md-1"><img src="@teachRankIcon" style="width:25px" /></span>
            <span class="col-md-2" style="text-align:right">[@seriousLevel]</span>
        </div>
        <div class="row">
            <div class="col-md-2"><img src="@rankIcon" style="width:50px" /></div>
            <div class="col-md-10" style="text-align: right">
                Speaks: @coach.Languages<br />
                Team: @coach.PairedPlayers
            </div>
        </div>
        <div class="row">
            @if (isToxic)
            {
                <span>Toxic</span>
            }

            @if (isRedFlag)
            {
                <span>RedFlag</span>
            }
        </div>
    </div>
}