@using System.Web.Mvc.Html
@using ViewModels.SignUp
@model ActionModels.Teams.AllSignUpsAM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>Coaches</h3>
    <hr/>
    @{Html.RenderPartial("~/Views/Teams/_CoachList.cshtml", Model.Coaches);}
</div>

<div>
    @using (Html.BeginForm("Index", "Teams", new
    {
        studentStatus = ViewBag.StudentStatus
    }, FormMethod.Post, new { role = "form" }))
    {
        @Html.Label("Rank Tier")
        @Html.DropDownList("rankTier", SummonerSignUpVM.RankTierOptions)

        @Html.Label("Server")
        @Html.DropDownList("server", SummonerSignUpVM.ServerOptions)

        <button type="submit">Submit</button>
    }

    <h3>Students</h3>
    <hr/>
    @{Html.RenderPartial("~/Views/Teams/_StudentList.cshtml", Model.Students);}
</div>