@using ViewModels.SignUp
@model CommitmentSignUpVM

<div class="form-group">
    @Html.LabelFor(m => m.CommitmentLevel)
    <label>@Html.RadioButtonFor(m => m.CommitmentLevel, 2) Yes, I am fully committed</label>
    <label>@Html.RadioButtonFor(m => m.CommitmentLevel, 1) I'll try my best to be online and available, but I can't formally commit</label>
    <label>@Html.RadioButtonFor(m => m.CommitmentLevel, 0) No, but I really want to be a part of it!</label>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SeriousnessLevel)
    <label>@Html.RadioButtonFor(m => m.SeriousnessLevel, 2) Serious</label>
    <label>@Html.RadioButtonFor(m => m.SeriousnessLevel, 1) Semi-serious</label>
    <label>@Html.RadioButtonFor(m => m.SeriousnessLevel, 0) Casual</label>
</div>
