@using ViewModels.SignUp
@model RoleSignUpVM

<div class="form-group">
    @Html.LabelFor(m => m.PreferredRole)
    @Html.DropDownListFor(m => m.PreferredRole, RoleSignUpVM.PreferredRoleOptions, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.TopLaneComfort)
    @Html.DropDownListFor(m => m.TopLaneComfort, RoleSignUpVM.TopLaneComfortOptions, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.JungleComfort)
    @Html.DropDownListFor(m => m.JungleComfort, RoleSignUpVM.JungleComfortOptions, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MidComfort)
    @Html.DropDownListFor(m => m.MidComfort, RoleSignUpVM.MidComfortOptions, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MarksmanComfort)
    @Html.DropDownListFor(m => m.MarksmanComfort, RoleSignUpVM.MarksmanComfortOptions, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SupportComfort)
    @Html.DropDownListFor(m => m.SupportComfort, RoleSignUpVM.SupportComfortOptions, new { @class = "form-control" })
</div>
