@using ViewModels.SignUp
@model CoachSignUpVM

@{
    ViewBag.Title = "Coach Registration";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Coach", "SignUp", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})

    <div class="form-group">
        @Html.LabelFor(m => m.CoachStatus)
        <label>@Html.RadioButtonFor(m => m.CoachStatus, 2) Coach</label>
        <label>@Html.RadioButtonFor(m => m.CoachStatus, 1) Substitute</label>
        <label>@Html.RadioButtonFor(m => m.CoachStatus, 0) Coach-in-training</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SummonerInfo.SummonerName)
        @Html.TextBoxFor(m => m.SummonerInfo.SummonerName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SummonerInfo.Server)
        @Html.DropDownListFor(m => m.SummonerInfo.Server, SummonerSignUpVM.ServerOptions, null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SummonerInfo.Age)
        @Html.TextBoxFor(m => m.SummonerInfo.Age, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SummonerInfo.Email)
        @Html.TextBoxFor(m => m.SummonerInfo.Email, new { @class = "form-control" })
    </div>

    <hr/>

    <div class="form-group">
        @Html.LabelFor(m => m.StudentRank.PreferredStudentRank)
        @Html.DropDownListFor(m => m.StudentRank.PreferredStudentRank, CoachStudentRankVM.RankOptions, null, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.Label("Level of players you are willing to coach:")
            <label>@Html.CheckBoxFor(m => m.WillingBronze) Bronze</label>
            <label>@Html.CheckBoxFor(m => m.WillingSilver) Silver</label>
            <label>@Html.CheckBoxFor(m => m.WillingGold) Gold</label>
            <label>@Html.CheckBoxFor(m => m.WillingPlat) Platinum</label>
            <label>@Html.CheckBoxFor(m => m.WillingDiamond) Diamond+</label>
    </div>

    <hr/>

    <div class="form-group">
        @Html.Label("Monday")
        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.MondayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.MondayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.MondayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.MondayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tuesday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.TuesdayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.TuesdayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.TuesdayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.TuesdayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Wednesday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.WednesdayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.WednesdayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.WednesdayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.WednesdayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("Thursday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.ThursdayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.ThursdayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.ThursdayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.ThursdayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("Friday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.FridayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.FridayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.FridayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.FridayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("Saturday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.SaturdayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.SaturdayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.SaturdayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.SaturdayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>

    <div class="form-group form-inline">
        @Html.Label("Sunday")

        <div class="form-inline">
            @Html.LabelFor(m => m.AvailabilityInfo.SundayStart)
            @Html.TextBoxFor(m => m.AvailabilityInfo.SundayStart, new { @type = "time", @class = "form-control" })
            @Html.LabelFor(m => m.AvailabilityInfo.SundayEnd)
            @Html.TextBoxFor(m => m.AvailabilityInfo.SundayEnd, new { @type = "time", @class = "form-control" })
        </div>
    </div>
    <hr/>

    <div class="form-group">
        @Html.LabelFor(m => m.Languages)
        @Html.TextBoxFor(m => m.Languages, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PairedPlayers)
        @Html.TextBoxFor(m => m.PairedPlayers, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CoachingStyle)
        @Html.TextAreaFor(m => m.CoachingStyle, new { @class = "form-control", rows = "5" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CoachingExperience)
        @Html.TextAreaFor(m => m.CoachingExperience, new { @class = "form-control", rows = "5" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Commitment.CommitmentLevel)
        <label>@Html.RadioButtonFor(m => m.Commitment.CommitmentLevel, 2) Fully committed</label>
        <label>@Html.RadioButtonFor(m => m.Commitment.CommitmentLevel, 1) Mostly committed</label>
        <label>@Html.RadioButtonFor(m => m.Commitment.CommitmentLevel, 0) Slightly committed</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Commitment.SeriousnessLevel)
        <label>@Html.RadioButtonFor(m => m.Commitment.SeriousnessLevel, 2) Serious</label>
        <label>@Html.RadioButtonFor(m => m.Commitment.SeriousnessLevel, 1) Semi-serious</label>
        <label>@Html.RadioButtonFor(m => m.Commitment.SeriousnessLevel, 0) Casual</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Toxic.ToxicLevel)
        <label>@Html.RadioButtonFor(m => m.Toxic.ToxicLevel, 2) Yes</label>
        <label>@Html.RadioButtonFor(m => m.Toxic.ToxicLevel, 1) Sometimes</label>
        <label>@Html.RadioButtonFor(m => m.Toxic.ToxicLevel, 0) No</label>
    </div>

    <div class="form-group">
        @Html.Label("Select any punishments you have received:")
        <label>@Html.CheckBoxFor(m => m.Toxic.HadLowPriorityPunish) Low priority queue</label>
        <label>@Html.CheckBoxFor(m => m.Toxic.HadChatRestrictions) Chat restrictions</label>
        <label>@Html.CheckBoxFor(m => m.Toxic.HadRankedRestrictions) Ranked restrictions</label>
        <label>@Html.CheckBoxFor(m => m.Toxic.HadTemporaryBan) Temporary ban</label>
        <label>@Html.CheckBoxFor(m => m.Toxic.HadPermanentBan) Permanent ban</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MoreInformation)
        @Html.TextAreaFor(m => m.MoreInformation, new { @class = "form-control", rows = "5" })
    </div>

    <div class="form-group">
        <label>@Html.CheckBoxFor(m => m.EmailSignUp) Email me sign-up information for future Learning Fives sessions</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}